body {
    background-color: rgb(189, 238, 238);
}

/*Navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38444d;
}
li {
    float: left;
}
    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
        li a:hover, .dropdown:hover .dropbtn {
            background-color: red;
        }
    li.dropdown {
        display: inline-block;
    }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
        .dropdown-content a:hover {
            background-color: #dfd9d9;
        }
.dropdown:hover .dropdown-content {
    display: block;
}


/*Table and its contents*/
table {
    font-size: 24px;
    display: flex;
    justify-self: center;
    text-align: center;
    border-collapse: separate;
    border-spacing: 20px;
}
img.space{
    visibility: hidden;
}
img#bike {
    width: 400px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
}

p {font-size: larger;}